.hidden {
    display : none;
}

body{
    margin-top: 80px;
    margin-left : 20px;
    background-position:top;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#clock_div h1 {
    margin-top: 10px;
    margin-bottom : auto;
    font-size: 8em;   
    text-align: center;
}

#weather_div span {
    position : absolute;
    top : 25px;
    right : 30px;
}

#left_div {
    width: 50%;
    display: inline-block;
    margin-top: 30px;
}

#form_div {
    font-size: 250%;
    text-align: center;
    margin-top: 24px;
}

#form_div input {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 36px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

::placeholder {
    color : white;
}

#form_div h2 {
    font-size: 45px;
    margin-top: 25px;
}

#quote_div {
    margin : 200px 80px 20px 80px;
    font-size: 20px;
    position: relative;
}

#quote {
    margin-bottom: 20px;
    display:inline-block;
    text-align: center;
}

#author {
    margin-top: 5px;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#right_div {
    display: inline-block;
    vertical-align: top;
    margin-top:30px;
}

#todo_div {
    width : 500px;
}

#todo_div input {
    width : 600px;
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 36px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin: 40px 20px 10px 20px;
    display: inline-block;
}

#todo_box {
    width: 600px;
    height: 300px;
}

#todo_list {
    margin-bottom: 100px;
}

#todoUl {
    list-style: none;
}

#todoUl li {
    margin-bottom: 8px;
    position: relative;
}

.doneToDoCheckBox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#todoUl span {
    font-size: 25px;
    vertical-align: middle;
}

#todoList button {
    height: 23px;
    width: 23px;
    border: none;
    background-color: transparent;
    background-image: url('../IMG/icon_delete.png');
    background-size: 23px 23px;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top:5px;

}